---
import Section from "../Section.astro"

import { education } from "@cv"
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, courses }) => {
        const years = `${startDate} - ${endDate}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <time>{years}</time>
              </header>

              <footer>

                {courses.map((course) => {
                  return <span>{course}</span>
                })}
                
                <p>{area}</p>

              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    margin-right: 10px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
